.filter-wrapper {
  display: flex;
  gap: 30px;

  @media (max-width: 630px) {
    display: block;
  }
}
.filter-anime {
  max-width: 1100px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @media (max-width: 850px) {
    gap: 10px;
    justify-content: space-around;
  }
}
.filter-anime_card {
  width: 250px;

  @media (max-width: 850px) {
    width: 150px;

    span {
      height: 200px;
    }
  }
}
.filters {
  padding-top: 40px;
  color: white;
  max-width: 250px;
  min-width: 250px;

  @media (max-width: 630px) {
    max-width: 400px;
    margin: 0 auto;
  }

  h4 {
    color: gray;
    font-size: 14px;
    padding: 10px 0px;
  }

  .slider {
    max-width: 500px;
    color: white !important;
  }
  .years {
    margin-top: 10px;
    font-size: 16px;
    color: white;
  }
  &-list-skeleton {
    span {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      row-gap: 24px;

      span {
        width: 250px;
        height: 357px;

        @media (max-width: 850px) {
          width: 150px;
          height: 215px;
        }

        @media (max-width: 630px) {
          width: 150px;
          height: 215px;
        }
      }
    }
    @media (max-width: 850px) {
      span {
        justify-content: space-around;
      }
    }
  }
}
.genres {
  display: flex;
  align-items: center;
  gap: 10px;
  &_select {
    div {
      color: white;
      background-color: rgb(14, 11, 33);
      padding: 5px 10px 5px 5px;
    }
    svg {
      color: white;
    }
  }
}
select {
  max-width: 400px;
  width: 100%;
  background-color: rgb(14, 11, 33);
  color: white;
  font-size: 19px;
  padding: 8px 5px;
  margin: 5px 0;
  border: none;
  border-radius: 7px;
}
