.input_wrapper {
  .popover {
    overflow: hidden;
    background-color: #181528;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
  }
}
.search_items {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.search_item {
  display: flex;
  padding: 5px;
  color: white;
  gap: 10px;

  &-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5px;
    height: auto;
    color: #e91e63;

    .search_genres {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      color: gray;
    }
  }
  img {
    width: 80px;
    height: auto;
    border-radius: 4px;
  }
}
.input-anime {
  width: 30vw;
  margin: 0 30px 0 0;
  height: 50px;
  background-color: #181528;
  color: white;
  border: none;
  border-bottom: 2px solid #e91e63;
  padding: 10px;
  font-size: 14px;
  outline: none;
  border-radius: 7px;
  transition: 0.2s ease-in-out;

  &::placeholder {
    color: white;
    opacity: 0.7;
  }

  &:focus {
    font-size: 17px;
    border-bottom-color: #e91e63;
  }
}
.loading-search_image {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
  align-items: center;
  p {
    color: white;
    font-size: 22px;
  }
  img {
    width: 100%;
    max-width: 200px;
  }
}
.more-button {
  background-color: #e91e63;
  padding: 10px;
  margin-top: 10px;
  button {
    color: white;
    text-align: center;
    font-size: 19px;
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .input-anime {
    max-width: 20vw;
  }
}
@media (max-width: 1100px) {
  .input-anime {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
  .input_wrapper {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
}
