$title-color: #e91e63;

.title {
  font-size: 34px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.title:hover {
  color: $title-color;
  text-shadow: 0 0 10px #e91e63;
}
.header {
  padding: 15px 0;
  background-color: rgb(14, 11, 33);
  box-shadow: 0 12px 15px rgba(14, 8, 25, 0.496);
  position: sticky;
  top: 0;
  z-index: 20;

  &_list {
    display: flex;
    gap: 15px;
    font-weight: 500;
    font-size: 20px;
    align-items: center;

    a {
      transition: 0.2s ease-in-out;
    }

    a:hover {
      color: $title-color;
    }

    @media (max-width: 970px) {
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }
  &_modal {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }
}
.randompage {
  width: 245px;
  margin: 0 auto;
  padding: 30px 0;

  button {
    border: 1px solid #e91e63;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px 55px;
    background-color: transparent;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: rgba(255, 42, 78, 0.226);
    }
  }
}
.footer {
  position: relative;
  margin: 40px 15px 10px 15px;
  height: 200px;
  background-color: rgb(14, 11, 33);
  color: white;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  .side {
    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .media_info {
        h4 {
          color: #e91e63;
          font-size: 32px;
          font-weight: 500;
        }
        p {
          color: gray;
          padding-top: 5px;
        }
      }
      .socials_icons {
        display: flex;
        gap: 8px;
      }
    }
    &-center {
      img {
        top: 0;
        left: 45%;
        transform: translateX(-45%);
        width: 332px;
        height: 200px;
        position: absolute;
      }
      @media (max-width: 1085px) {
        img {
          left: 35%;
        }
      }
      @media (max-width: 890px) {
        img {
          width: 0;
          height: 0;
          overflow: hidden;
        }
      }
    }

    &-right {
      margin: auto 0;
      max-width: 400px;
      width: 100%;
      h4 {
        font-size: 32px;
        padding-bottom: 10px;
      }
      p {
        color: gray;
        font-weight: 300;
      }
    }
    @media (max-width: 725px) {
      &-right {
        width: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }
}
@media (max-width: 725px) {
  .footer {
    display: flex;
    justify-content: center;

    p {
      font-size: 22px;
    }
  }
}
