.input-wrapper {
  position: relative;
}
.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.modal-input {
  background-color: rgb(9, 7, 22);
  padding: 10px 40px 10px 5px;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  font-size: 14px;
  outline: none;
}
.modal-input:focus {
  outline: none;
  box-shadow: none;
}
.modal-header {
  color: white;
  padding: 3px 8px 0px;
  text-align: right;
}
.modal-content {
  a {
    font-size: 22px;
    font-weight: 700;
    color: white;
  }

  .close {
    width: 35px;
    height: 35px;
  }
  @media (max-width: 440px) {
    width: 80%;
  }
  border: 2px solid rgba(255, 255, 255, 0.155);
  border-radius: 9px;
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 15px;
  background-color: rgb(14, 11, 33);
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -450px;
    opacity: 0;
  }
  to {
    top: 15px;
    opacity: 1;
  }
}
.menu-icon {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;

  @media (max-width: 970px) {
    width: 35px;
    height: auto;
    position: static;
    cursor: pointer;
  }
}
