.animeInfo_skeleton {
  display: flex;
  gap: 30px;

  &-poster {
    width: 250px;
    height: 350px;
  }

  &-title {
    width: 100%;
    max-width: 750px;
    height: 50px;
    margin-bottom: 10px;
  }

  &-desc {
    width: 100%;
    max-width: 800px;
    height: 55px;
  }
}
.player_skeleton {
  width: 100%;
  max-width: 1150px;
  height: 500px;
}
.skeletons {
  span {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 22px auto;
    column-gap: 13px;
    z-index: -1;
  }
  .skeleton-list {
    width: 245px;
    height: 325px;

    @media (max-width: 650px) {
      gap: 10px;
      row-gap: 15px;
    }
    @media (max-width: 840px) {
      max-width: 150px;
      height: 215px;
    }
  }
  @media (max-width: 840px) {
    span {
      justify-content: space-around;
    }
  }
}
.skeleton-home {
  span {
    display: flex;
    justify-content: center;
  }
}
.skeleton_home {
  span {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
  }
  &-title {
    height: 20px;
    max-width: 950px;
    width: 100%;
    margin-top: 22px;
  }
}
.skeleton_randon-wrapper {
  padding-top: 30px;
  width: 100%;
}
.randon_skeleton {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.randon_skeleton-button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.skeleton-placeholder {
  width: 100%;
  aspect-ratio: 3 / 4;
}
.slogan-skeleton {
  @media (max-width: 990px) {
    height: 50px;
  }
}
.list_franchise-skeleton {
  span {
    display: flex;
    grid-gap: 1rem;
    min-height: 250px;

    transition: 0.3s ease-in-out;

    @media (max-width: 950px) {
      min-height: 150px;
    }
    @media (max-width: 380px) {
      min-width: 135px;
      overflow: hidden;
      min-height: 80px;
    }
  }
}
@media (max-width: 580px) {
  .animeInfo-skeleton_poster {
    text-align: center;
    margin-bottom: 20px;
  }
  .animeInfo-skeleton_titleRu {
    margin: 0 auto !important;
    display: block;
    height: 25px !important;
    margin-bottom: -8px !important;
  }
  .animeInfo-skeleton_titleEn {
    width: 50vw !important;
  }
  .animeInfo-skeleton_status {
    width: 80vw !important;
    margin: 0 !important;
    height: 25px !important;
  }
}
